.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  
    .drawer {
      
      height: 100%;
      position: fixed;
      background-color: white;
      right: 0;
      padding: 0px 30px 30px 30px;
      display: flex;
      flex-direction: column;
      @media (min-width: 468px) {
        width: 410px;
      }
    
      .cart-close {
        opacity: 0.5; 
        &:hover{
          opacity: 1;
        }
      }
  
      .item {
        flex: 0.95;
        overflow: auto;
      }
  
      button {
       
        width: 100%;
        background: #9DD458;
        border: 0px;
        border-radius: 20px;
        padding: 18px;
        color: white;
        font-size: 18px;
        position: relative;
        font-weight: 700;
  
            &:disabled {
              background-color: #bebebe;
              cursor: default;
            }
         
        img {
          position: absolute;
          top: 22px;
          right: 100px;
          transition: right 0.5s;
        }
        &:hover {
          background: lighten ( #9DD458, 5%);
          img {
            right: 80px;
          }
        }
        &:active {
          background: darken( #9DD458 , 5%);
        }
      }
    }
  }